<% if current_user.username != nil  %>
 <h1> Welcome <%= @user.username %>, Here are your Features!</h1>
<% end %>



    <% @user.features.each do |feature| %>
        <div>
            <%= feature.song %> - <%= feature.artist1 %> ft. <%= feature.artist2 %>
        </div>
    <% end %>


<a href="/logout">Log Out</a>