<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Feature World</title>
  </head>
  <body>

    <div class="container">
      <div class="col-md-8 col-md-offset-2">
       <h1>Fantasy Feature World!</h1> 
  
       <%= yield %>
 
       <footer class="branding">
       <h5>NB: All feature ideas are visible to the public.</h5>
       <!--<a href="/logout">Log Out</a> -->
         <small>&copy; 2020 <strong>Fantasy Feature</strong></small>
         <img src="images/fantasy-feature.png" class="img-responsive main-image">
       </footer>
      </div>
    </div>
  </body>
</html> 