<!doctype html>
<html>
  <head>
    <title>Fantasy Feature World</title>
  </head>
  <body>

    <div class="container">
      <div class="col-md-8 col-md-offset-2">
       <h1>Welcome to Fantasy Feature World!</h1> 
 
       <p>Welcome to the Fantasy Feature World! Do you sometimes wonder how great your Fav Artists would sound on a track together? Well, here you can create all the features you wish existed and we can pitch the idea to various label services to see if we can really make this happen.</p>
       
 
       <h3>NB: All feature ideas are visible to the public.</h3>
 
       <%= yield %>
 
       <footer class="branding">
       <h4>NB: All feature ideas are visible to the public.</h4>
         <small>&copy; 2020 <strong>Fantasy Feature</strong></small>
         <img src="images/fantasy-feature.png" class="img-responsive main-image">
       </footer>
      </div>
    </div>
  </body>
</html> 