<h1>Welcome! </h1>

<% if logged_in? %>

<h2>Hello <%= current_user.username %></h2><br>

<a href="/features/new">New Feature</a>
    <a href="/logout">Log Out</a>

<% else %>

 <a href="/users/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
<% end %> 