<% if current_user.username != nil  %>
  <h1> Welcome, <%= current_user.username %></h1>
<% end %>



<h2>Create Your Fantasy Feature!</h2>

<form action='/features' method="POST">	
  Song Title:<input type="text" name="song"><br>
  Artist 1:<input type="text" name="artist1"><br>
  Artist 2:<input type="text" name="artist2"><br>
  <input type="submit" name="submit" id="submit" value="Create Feature!">
</form>




